@import url("https://fonts.googleapis.com/css2?family=Narnoor&family=Noto+Serif+Makasar&display=swap");
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0px;
  height: 100%;
  background-color: #f2c288;
}

main {
  height: 100%;
  width: 100vw;

  display: flex;
  flex-direction: column;
}
main > * {
  padding: 0px 25vw;
}
@media only screen and (max-width: 800px) {
  main > * {
    padding: 0px 2vw;
  }
}
.form-container {
  width: 100%;
  flex: 0.3;
}
.display-container {
  width: 100%;
  flex: 1;
  padding-block: 2rem;

  /**
   * User input values.
   */
  --grid-layout-gap: 25px;
  --grid-column-count: 3;
  --grid-item--min-width: 250px;

  /**
    * Calculated values.
    */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
  grid-template-rows: 200px;
}
.card {
  background: #083a51;
  position: relative;
  border-radius: 3px;
  height: 200px;
  color: #fff5ed;
  font-family: "Noto Serif Makasar", serif;
  letter-spacing: 0.1em;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
}
.title > h2 {
  inline-size: 100%;
  overflow: hidden;
  overflow-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-footer {
  width: 100%;
  height: 2rem;
  background-color: #47b785;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  bottom: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: end;
}

.delete-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-item {
  border: 0px solid red;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #00000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  color: rgb(170, 70, 70);
}
.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 0, "wght" 1000, "GRAD" 0, "opsz" 48;
  height: 1.2em;
  color: rgb(185, 29, 29);
}

/* --------SWIITCH -------- */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin-right: 0.25rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  left: 2px;
  bottom: 2.2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  /* -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px); */
  transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---------------form css------------------------ */
.form-container {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgba(8, 114, 105, 0.849);
}
form {
  height: 100%;
  padding: 1em 0px;
  padding-bottom: 4rem;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: calc(1rem+5px);
  font-family: "Narnoor", serif;
}
.main-form {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-item {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.checkbox-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.button-div {
  height: 2.5rem;
  width: 2.5rem;

  display: flex;

  justify-content: right;
}
label {
  font-size: 1.5rem;
}
input {
  height: 2em;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  border-bottom: 2px solid rgba(41, 41, 41, 0.493);
}
input:focus-visible {
  outline: 1px solid rgba(88, 104, 88, 0.534);
  border-radius: 2px 2px 0px 0px;
}
input:active {
  border: 0px;
  outline: 0px;
}

button[type="submit"] {
  background-color: rgba(255, 255, 255, 0);
  background-image: url(add_FILL0_wght400_GRAD0_opsz48.png);
  background-size: cover;
  background-position: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  border: 0px;
  outline: 2px solid #000000;
}
button[type="submit"]:hover {
  outline: 3px solid #022006;
}
button[type="submit"]:active {
  border: 3px solid #020e20;
}

.read {
  flex: 1;
  display: flex;

  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}
.read > label {
  text-align: center;
  font-size: 1.3rem;

  margin-top: -6px;
}

input[type="checkbox"] {
  margin: 0px;
  width: 1.25rem;
}
